[submodule "lib/lib/libgimbal"]
	path = lib/lib/libgimbal
	url = ../../open-source/libgimbal.git
[submodule "build-environment"]
	path = build-environment
	url = ../../open-source/build-environment.git
[submodule "test/lib/elysian-test"]
	path = test/lib/elysian-test
	url = git@chaosrift.endofinternet.org:open-source/elysian-test.git
